chromadb==1.4.0
pandas==2.3.3
sentence-transformers==5.2.0
scikit-learn==1.8.0
llama-cpp-python==0.3.16
streamlit==1.52.2
langchain==1.2.6
langchain-community==1.0.0a1
# for fine tuning
torch>=2.2
torchvision>=0.17
torchaudio>=2.2
transformers>=4.40
peft>=0.10
trl>=0.8
datasets>=2.18
accelerate>=0.30
bitsandbytes>=0.43